/* ============ */
/* MOBILE FIRST */
/* ============ */

/* ========= */
/* VARIABLES */
/* ========= */

/* Import Font Family */
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");

/* Declare CSS Variables */
:root {
  --color-bg: #121725;
  --color-text-heading: #54e6af;
  --color-text-heading-alt: #fff;
  --color-text-content: #c2cbe5;
  --color-input-bg: #2c344b;
  --color-input-text: #fff;
  --color-button-bg: #54e6af;
  --color-button-hover: #b3ffe2;
  --color-button-text: #121725;
}

/* ==== */
/* BODY */
/* ==== */

/* Add pseudo-element overlay */
body::before {
  content: "";
  position: absolute;

  /* Prevent Image from Collapsing */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Use the opacity built into hsla to create the semi-transparent layer */
  background-color: hsla(224deg, 35%, 11%, 0.93);
}

body {
  font-family: "Chivo", sans-serif;

  /* Set position relative for correct positioning of semi-transparent element overlay on pseudo-element */
  position: relative;

  /* Add the background image*/
  background-image: url("../../assets/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* Add flex container to body to center the app */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== */
/*  APP  */
/* ===== */

.app {
  /* Set relative position so that absolute position background image on ::before element won't go above the app */
  position: relative;
  width: 32.7rem;

  /* Add flex container to app to center contents */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ====== */
/* HEADER */
/* ====== */

.header {
  margin-bottom: 5.7rem;
}

.header__img {
  height: 5.6rem;
}

/* ============ */
/* MAIN CONTENT */
/* ============ */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ==== */
/* TEXT */
/* ==== */

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__heading,
.text__description {
  text-align: center;
  font-weight: 300;
}

/* HEADING */
.text__heading {
  text-transform: uppercase;
  color: var(--color-text-heading);
  font-size: 2.6rem;
  line-height: 3.8rem;
  margin-bottom: 1.6rem;
}

.text__heading span {
  color: var(--color-text-heading-alt);
  display: block; /* force element on new line */
}

/* DESCRIPTION */
.text__description {
  color: var(--color-text-content);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 3.3rem;
}

/* ===== */
/* ICONS */
/* ===== */
.icons {
  margin-bottom: 4.8rem;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 1.5rem;
}

/* ====== */
/* INPUTS */
/* ====== */

.inputs {
  /* flex-grow: 1; */
  min-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.inputs__input,
.inputs__submit {
  min-width: 100%;
  /* flex-grow: 1; */

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  padding: 0.9rem 2em;
  outline: none;
  border: none;
  border-radius: 3rem;
}

form {
  position: relative;
}

/* INPUT */
.inputs__input {
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  margin-bottom: 1.6rem;
}

.inputs__input::placeholder {
  /* Change color and opacity of placeholder text */
  color: var(--color-input-text);
  opacity: 0.5;
}

/* BUTTON */
.inputs__submit {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  text-transform: capitalize;
  cursor: pointer;
}

label[for="text-input"] {
  font-weight: bold;
  position: absolute;
  bottom: -3.5rem;
  left: 3rem;
  color: red;
  display: none;
}

.inputs__submit:hover {
  background-color: var(--color-button-hover);
}

/* ========== */
/* DOT MATRIX */
/* ========== */
/* Hide the Dots in Mobile View */
#dots {
  display: none;
}

/* =================== */
/* MEDIA QUERY: TABLET */
/* =================== */
@media (min-width: 768px) {
  /* ==== */
  /* BODY */
  /* ==== */

  /* Remove pseudo-element with transparent overlay */
  body::before {
    /* content: none; */
    background-color: hsla(224deg, 35%, 11%, 0.2);
  }

  body {
    /* Change the background image */
    background-image: url("../../assets/tablet/image-host.jpg");
    background-size: 49.1rem 76.7rem;
    background-position: top right;

    /* Add a background color */
    background-color: var(--color-bg);

    /* Change the orientation of the flex items */
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* ===== */
  /*  APP  */
  /* ===== */

  .app {
    width: 76.8rem;

    /* Shift position of elements to the left */
    justify-content: flex-start;
    align-items: flex-start;

    /* Offset all elements from the left edge */
    margin-left: 3.9rem;
  }

  /* ====== */
  /* HEADER */
  /* ====== */
  .header {
    margin-top: 5rem;
    margin-bottom: 15.2rem;
  }

  /* ============ */
  /* MAIN CONTENT */
  /* ============ */
  .content {
    min-width: 63.5rem;
    min-height: 50.9rem;

    background-color: var(--color-bg);

    align-items: flex-start;
  }

  /* ==== */
  /* TEXT */
  /* ==== */
  .text {
    align-items: flex-start;
    margin-top: 9.3rem;
  }

  .text__heading,
  .text__description {
    text-align: left;
  }

  .text__heading {
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 3.1rem;
  }

  .text__description {
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 44.5rem;
    margin-bottom: 4rem;
  }

  /* ===== */
  /* ICONS */
  /* ===== */

  .icons {
    margin-bottom: 0;

    /* Align items on the left */
    justify-content: flex-start;

    /* Move icons below inputs */
    order: 1;
  }

  .icon {
    height: 2.6rem;
    margin-right: 4rem;
  }

  .icons__google {
    height: 1.8rem;
  }

  /* ====== */
  /* INPUTS */
  /* ====== */

  .inputs {
    align-items: flex-start;
    position: relative;
    /* margin-bottom: 6.4rem; */
    margin-bottom: 4rem;
  }

  .inputs__input {
    border: 0.5rem solid var(--color-input-bg);
    min-width: 42.7rem;
  }

  label[for="text-input"] {
    bottom: -1rem;
  }

  .inputs__submit {
    min-width: 16.2rem;
    position: absolute;
    top: 0.5rem;
    left: calc(42.7rem - 16.2rem - 0.7rem);
  }

  /* ========== */
  /* DOT MATRIX */
  /* ========== */
  /* Reveal the Dots in Mobile View */
  #dots {
    display: block;
    position: absolute;
    margin-left: 3.9rem;
    bottom: 0;
  }
}

/* ==================== */
/* MEDIA QUERY: DESKTOP */
/* ==================== */
@media (min-width: 1400px) {
  /* ==== */
  /* BODY */
  /* ==== */
  /* Update background image to desktop version */
  body {
    /* Add the background image*/
    background-image: url("../../assets/desktop/image-host.jpg");
    background-size: 88.8rem 64rem;
    background-position: center right;
  }

  /* ===== */
  /*  APP  */
  /* ===== */

  .app {
    /* width: 76.8rem; */

    /* Offset all elements from the left edge */
    margin-left: 16.5rem;
  }

  /* ====== */
  /* HEADER */
  /* ====== */
  .header {
    margin-top: 10.2rem;
    margin-bottom: 10.3rem;
  }

  /* ============ */
  /* MAIN CONTENT */
  /* ============ */
  .content {
    min-width: 72.3rem;
  }

  /* ==== */
  /* TEXT */
  /* ==== */
  .text {
    margin-top: 8.8rem;
  }

  .text__heading {
    font-size: 5.2rem;
    line-height: 6.2rem;
    margin-bottom: 2.4rem;
  }

  /* ===== */
  /* ICONS */
  /* ===== */

  /* ====== */
  /* INPUTS */
  /* ====== */

  .inputs {
    margin-bottom: 6.4rem;
  }

  /* ========== */
  /* DOT MATRIX */
  /* ========== */
  #dots {
    display: block;
    position: absolute;
    right: 0;
    bottom: 7.8rem;
  }
}
